<%= include('includes/top.tmpl') %>
    
    <div id="newsspec_5380" class="main noJs">

        <div id="navImageSrc" style="display: none"><%= pathStatic %>/<%= vocab_dir %>/img/624/intro-responsive.jpg</div>

        <ul id="cats__panel-list" class="cats__info-panels">

            <li class="cats__info-panels__panel">
                <h2 id="header-1" class="cats__intro">Introduction</h2>
                <div id="map-1" class="no-replace nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/intro-static.jpg" alt="holder" max-width="450" max-height="450">
                </div>
                <div id="panel-1">
                    <p class="cats__text-panel__text">Meet Ginger, Chip, Sooty, Orlando, Hermie, Phoebe, Deebee, Kato, Coco and Rosie. They are 10 of the 50 cats studied in the village of Shamley Green, Surrey, for Horizon's programme The Secret Life of the Cat.</p>
                    <p class="cats__text-panel__text to-hide">As part of one of the largest ever research projects into domestic cat behaviour, the Horizon team - aided by the Royal Veterinary College and Lincoln and Bristol Universities - tracked dozens of cats over several 24-hour periods using specially-designed collar GPS devices and tiny "cat cams".</p>
                    <p class="cats__text-panel__text">The result? Scientists discovered the cats appeared to timeshare territory to avoid confrontation with neighbouring felines and visit each others houses. However, the cat cam footage also revealed squabbles over territory remained. There was also an incident with a fox and with a nest of fledglings.</p>
                    <span class="intro-caption">Select a cat above to find out more.</span>
                </div>
                <div id="image-1" class="nojs-cta"></div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-2" class="cats__ginger">Meet Ginger</h2>
                <div id="map-2" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/ginger_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-2">
                    <p class="cats__text-panel__text"><b>Name:</b> Ginger
                        <br><b>Age:</b> Five to 10 years &nbsp;&nbsp;&nbsp;&nbsp;<b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Ginger tomcat
                        <br><b>Character:</b> Intolerant and aloof, but also active and trainable. A good hunter. Known to fight with the neighbour's cat and visits the neighbouring property
                        <br><b>Roaming:</b> Roams almost 200m (more than 600ft) from home and covers an area of about 0.3 hectares (0.7 acres)
                        <br><b>Prey:</b> Brings frogs, toads, birds or small mammals home most days
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Ginger's roaming is pretty average in terms of range or distance from home. However, on one of the days he was tracked he was more active than any of the other cats," say researchers.
                    </p>
                </div>
                <div id="image-2" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_68025603_ginger1.jpg" alt="holder" width="264" height="148">
                    <span class="ext-content__txt">Ginger confronts a rival: 1.21 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-3" class="cats__chip">Meet Chip</h2>
                <div id="map-3" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/chip_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-3">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Chip
                        <br>
                        <b>Age:</b> One to four years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Short-haired black and white moggie
                        <br>
                        <b>Character:</b> Active and stubborn, but also friendly, tolerant and trainable
                        <br>
                        <b>Roaming:</b> Visits other houses. Roams about 160m (530ft) from home, but covers 1.2 hectares (three acres)
                        <br>
                        <b>Prey:</b> Brings birds or small mammals home once or twice a week
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Chip lives on the edge of the village and has the third largest roaming range of our 10 cats. He stuck to travelling through back gardens and by the side of a row of houses," say researchers.
                    </p>

                </div>
                <div id="image-3" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67953389_img_5150.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Chip leaps into a bird's nest and loses his GPS collar: 3.15 mins
            </span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-4" class="cats__sooty">Meet Sooty</h2>
                <div id="map-4" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/sooty_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-4">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Sooty
                        <br>
                        <b>Age:</b> Five to 10 years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Short-haired black moggie/farm cat
                        <br>
                        <b>Character:</b> Friendly, tolerant and active, but somewhat aloof and calm. Doesn't fight. Lives with sibling Socks
                        <br>
                        <b>Roaming:</b> Roams 186m (600ft) from home and covers nearly three hectares (seven acres)
                        <br>
                        <b>Prey:</b> Brings home small mammals a couple of times a week
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Sooty has the largest roaming range of our 10 cats and liked to visit some trees on farmland next to some water. His house is on the edge of the village and so he has easy access to the countryside," say researchers.
                    </p>
                </div>
                <div id="image-4" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_68025482_sooty1.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Sooty encounters a fox: 0.55 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-5" class="cats__orlando">Meet Orlando</h2>
                <div id="map-5" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/orlando_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-5">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Orlando
                        <br>
                        <b>Age:</b> More than 10 years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Ginger moggie
                        <br>
                        <b>Character:</b> Used to be feral in Hong Kong. In good weather he refuses cat food and survives by hunting wildlife. He hates the cold and sleeps on the family's range. Fights with Clawdius, another of the household's cats.
                        <br>
                        <b>Roaming: </b>Roams 150m (500ft) from home but covers an area of more than two hectares (5.5 acres)
                        <br>
                        <b>Prey:</b> Brings home small mammals once or twice a week
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Orlando appears to be a 'regular' hunter and travels into an area of open grassland and woods behind his house. He lives outside the village giving him easy access to the countryside," say researchers.
                    </p>
                </div>
                <div id="image-5" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67952946_img_4961.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Orlando is sick: 0.30 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-6" class="cats__hermie">Meet Hermie</h2>
                <div id="map-6" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/hermie_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-6">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Hermie
                        <br>
                        <b>Age:</b> One to four years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Black domestic shorthair
                        <br>
                        <b>Character:</b> Active and stubborn, but also friendly, tolerant and trainable. A hermaphrodite which is quite rare
                        <br>
                        <b>Roaming:</b> Roams about 170m (560ft) from home, but covers a larger area than any other cat - up to 3.3 hectares (eight acres)
                        <br>
                        <b>Prey:</b> Brings birds or small mammals home once or twice a week
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Hermie is a hermaphrodite cat. He was regularly on the move within this area and was generally a very active cat when compared to others," say researchers.</p>
                </div>
                <div id="image-6" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_68023541_hermie3.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Hermie chases off a rival: 00.51 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-7" class="cats__phoebe">Meet Phoebe</h2>
                <div id="map-7" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/phoebe.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-7">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Phoebe
                        <br>
                        <b>Age:</b> Five to 10 years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Female
                        <br>
                        <b>Breed/colour:</b> Tortoiseshell moggie
                        <br>
                        <b>Character:</b> Active and friendly. A great hunter, especially in summer. Strays from home for days at a time. Regularly fights with neighbours' cat, Kato
                        <b>Roaming:</b> Roams about 140m from home and covers more than a hectare (more than three acres)
                        <br>
                        <b>Prey:</b> Brings birds or small mammals home a couple of times a week - more in summer
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Phoebe appears to timeshare the road between her house with neighbouring cat Kato. The owners know the two sometimes fight. When one is active and outside, the other tends to be inside," say researchers.
                    </p>

                </div>
                <div id="image-7" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67944126_phoebe2.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Phoebe escapes laundry basket: 2.26 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-8" class="cats__deebee">Meet Deebee</h2>
                <div id="map-8" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/deebee_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-8">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Deebee
                        <br>
                        <b>Age:</b> More than 10 years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Short-haired black tabby
                        <br>
                        <b>Character:</b> Sometimes friendly, but also aloof and intolerant. Hand-reared from three days old due to his mother's death. Known to fight with other cats, including those he lives with
                        <br>
                        <b>Roaming:</b>Roams 150m (500ft) from home, but covers an area of more than two hectares (5.4 acres)
                        <br>
                        <b>Prey:</b> Never brings prey home
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Deebee is a relatively new cat to the village and appears to be scoping out where to establish a territory. He lives in a house in the centre of the village surrounded by other pet cats," say researchers.
                    </p>

                </div>
                <div id="image-8" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67953907_deebee2.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Deebee returns home: 2.27 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-9" class="cats__kato">Meet Kato</h2>
                <div id="map-9" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/kato.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-9">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Kato
                        <br>
                        <b>Age:</b> Five to 10 years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Male
                        <br>
                        <b>Breed/colour:</b> Long-haired, fluffy black and white moggie
                        <br>
                        <b>Character:</b> Tolerant, calm, friendly and trainable, but also bold and stubborn. Regularly fights with Phoebe, a tortoiseshell female
                        <br>
                        <b>Roaming:</b> Roams up to 93m from home and covers about a hectare (2.7 acres)
                        <br>
                        <b>Prey:</b> Brings birds or small mammals home a couple of times a week.
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Kato appears to timeshare territory with Phoebe, a cat who lives on the opposite side of the road. They appear to avoid being out at the same time as one another," say researchers.
                    </p>
                </div>
                <div id="image-9" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67947096_kato1.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Kato plays with string: 1.28 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-10" class="cats__coco">Meet Coco</h2>
                <div id="map-10" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/coco_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-10">
                    <p class="cats__text-panel__text">
                        <b>Name:</b> Coco
                        <br>
                        <b>Age:</b> One to four years &nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex:</b> Female
                        <br>
                        <b>Breed/colour:</b> Black domestic shorthair
                        <br>
                        <b>Character:</b> Tolerant and calm as well as active and friendly. She loves cuddles and cosy spots. Hard to house train and fights with other cats
                        <br>
                        <b>Roaming:</b> Visits other houses. Roams up to 80m (260ft) from home and covers half a hectare (1.2 acres)
                        <br>
                        <b>Prey:</b> Brings birds or small mammals home a couple of times a week
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view:</b> "Coco lives with another two cats - Bramble and Phoebus - but has a fairly average roaming range. However, she was one of the more active cats studied," say researchers.
                    </p>
                </div>
                <div id="image-10" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_67954091_coco4.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Coco navigates a fence: 00.41 mins</span>
                </div>
            </li>

            <li class="cats__info-panels__panel">
                <h2 id="header-11" class="cats__rosie">Meet Rosie</h2>
                <div id="map-11" class="nojs-map">
                    <img src="<%= pathStatic %>/<%= vocab_dir %>/img/624/rosie_res_bg.jpg" alt="holder" max-width="976" max-height="576">
                </div>
                <div id="panel-11">
                    <p class="cats__text-panel__text">
                        <b>Name: </b>Rosie
                        <br>
                        <b>Age: </b>Five to 10 years&nbsp;&nbsp;&nbsp;&nbsp;
                        <b>Sex: </b>Female
                        <br>
                        <b>Breed/colour: </b>British shorthair
                        <br>
                        <b>Character: </b>Friendly cat. Known to visit other houses and likes to hunt shrews. She fights with the cat next door
                        <br>
                        <b>Roaming: </b>Doesn't roam far - just 40m (130ft) from home. She covers just 0.2 hectares (half an acre)
                        <br>
                        <b>Prey: </b>Although she likes to hunt shrews, she never brings prey home
                    </p>
                    <p class="cats__text-panel__text to-hide">
                        <b>Expert view: </b> "Rosie spends a lot of time outside, but appears to have a quite a small territory. She spends nearly all of her time in her own garden, and does not venture much further," say researchers.
                    </p>
                </div>
                <div id="image-11" class="nojs-cta"><span class="cta-icon cta-icon__vid"></span>
                    <img class="no-replace ext-content__img" src="<%= pathStatic %>/<%= vocab_dir %>/img/624/_68032273_rosie1.jpg" alt="holder" width="264" height="148"><span class="ext-content__txt">Rosie catches a moth: 1.07 mins</span>
                </div>
            </li>

        </ul>

    </div>

<%= include('includes/bottom.tmpl') %>