.cats__extended-panel__med--videoLoaded {
    position: relative;
    width: 100%;
    display: inline-block;
    
    &:after { 
        padding-top: 56.25%; /*16:9 ratio*/
        display: block;
        content: "";
    }

    .ns_media_content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}