@import "news_special/defaults";
@import "base";
@import "mixins";
@import "topnav";
@import "panel";
@import "no-js";
@import "video";

.main img {
	width: 100%;
    height: auto;
}

.ns__desktop .share {
    position: absolute;
    bottom: 35px;

    .share__overlay p {
        visibility: hidden;
        height: 0;
    }
}