@import "news_special/defaults";
@import "base";
@import "mixins";
@import "topnav";
@import "panel";
@import "no-js";
@import "video";

.main {

    overflow: visible;

    img {
    	width: 100%;
        height: auto;
    }
}

.ns__desktop .share {
    position: absolute;
    bottom: 35px;

    .share__overlay p {
        visibility: hidden;
        height: 0;
    }

    .share__button {
        width: 220px;
        max-width: none;
        
        p {
            color: #D2700F;
            font-size: 14px;
            font-family: Arial;
            font-weight: bold;
            margin-left: 4px;
        }
    }
}